@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .bg{
    background-image: url('/C002-assets/banner-img-1.png');
  }
  